PORT=3000

NODE_ENV=development


# ------------------------------------------------------- lcoal

GOOGLE_KEYFILE_PATH=.private/crafty-shelter-403405-c9838c10d7ee.json


# -------------------------------------------------------  POSTGRESQL

DB_POSTGRESQL_NAME=
DB_POSTGRESQL_PASSWORD=
DB_POSTGRESQL_HOST=


# -------------------------------------------------------  Auth 
JWT_SECRET=
JWT_ACCESS_EXPIRY=60m
JWT_REFRESH_EXPIRY=7d